if SHIELD_SNAP71_LEFT

config ZMK_KEYBOARD_NAME
    default "snap71"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_SNAP71_LEFT

if SHIELD_SNAP71_LEFT || SHIELD_SNAP71_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_SNAP71_LEFT || SHIELD_SNAP71_RIGHT
