if SHIELD_SNAP71ZMK_LEFT

config ZMK_KEYBOARD_NAME
    default "snap71"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_SNAP71ZMK_LEFT

if SHIELD_SNAP71ZMK_LEFT || SHIELD_SNAP71ZMK_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_SNAP71ZMK_LEFT || SHIELD_SNAP71ZMK_RIGHT
